<!DOCTYPE html >
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/png" href="http://clipart-library.com/images/rcne9bLcR.jpg"/>
		<link rel="shortcut icon" type="image/png" href="http://example.com/favicon.png"/>


		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title> What's For Dinner!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
	</head>
	<body class="page-background">
		{{{ body }}}
   <script src="/assets/js/wfd.js"></script>
	</body>
</html>
