<!DOCTYPE html >
<html lang="en">
	<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/styles.css" type="text/css">

		<link rel="shortcut icon" type="image/png" href="http://clipart-library.com/images/rcne9bLcR.jpg"/>
		<link rel="shortcut icon" type="image/png" href="http://example.com/favicon.png"/>


		<title> What's For Dinner!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
	</head>
		<body class="page-background">
			{{{ body }}}
		<script>
			$.backstretch([
				"https://image.shutterstock.com/z/stock-photo-assorted-of-american-food-french-fries-hamburger-nugget-bacon-1386451412.jpg",
				"https://resources.stuff.co.nz/content/dam/images/1/u/p/7/m/d/image.related.StuffLandscapeSixteenByNine.1240x700.1up78w.png/1555215868679.jpg",
				"https://apjjf.org/data/j.cuisineart.jpg",
				"https://www.englishclub.com/images/vocabulary/food/thai/thai-food.jpg",
				"https://www.asian-recipe.com/cms3/wp-content/uploads/2012/10/indian-cuisine-introduction.jpg",
				"https://www.wkyc.com/img/resize/content.wkyc.com/photo/2017/06/12/italian_foods_collage_1497287339743_9753979_ver1.0.jpg?mode=pad&bgcolor=000000&scale=both&width=750&height=422SqXm.jpg",
				"http://static.sites.yp.com/var/m_2/25/259/11171015/1485649-9b3920abf0af4c00af49720011ded916.w640.jpg",
				"https://media-cdn.tripadvisor.com/media/photo-s/0d/54/e6/d0/a-birdseye-view-of-authentic.jpg",
				"https://blog.vegas.com/wp-content/uploads/2016/02/vegenation_ashley-onoz-wright.jpg",
				"https://www.gannett-cdn.com/-mm-/ac138ae3e5d56d378a81ec1264d6a985fa02c339/c=0-0-1536-2048/local/-/media/2016/02/16/Morristown/B9320955819Z.1_20160216005528_000_GBTDDL8A8.1-0.jpg?width=534&height=712&fit=crop",
		], {duration: 2500, fade: 750});
		</script>
	</body>
</html>
