<!DOCTYPE html >
<html lang="en">
	<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/styles.css" type="text/css">

		<link rel="shortcut icon" type="image/png" href="http://clipart-library.com/images/rcne9bLcR.jpg"/>
		<link rel="shortcut icon" type="image/png" href="http://example.com/favicon.png"/>


		<title> What's For Dinner!</title>

	</head>
		<body class="page-background">
			{{{ body }}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
		<script src="/js/index.js"></script>

		<script>
			$.backstretch([
				"https://images.unsplash.com/photo-1551615593-ef5fe247e8f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1080&q=80",
        "https://resources.stuff.co.nz/content/dam/images/1/u/p/7/m/d/image.related.StuffLandscapeThreeByTwo.1464x976.1up78w.png/1555215868679.jpg",
				"https://c.wallhere.com/photos/dc/e7/food_sushi-120909.jpg!d",
				"http://yesofcorsa.com/wp-content/uploads/2018/02/Thai-Cuisine-Wallpaper-Gallery.jpg",
				"https://res.cloudinary.com/swiggy/image/upload/f_auto,q_auto,fl_lossy/wvqkrmo7xck1qf48khbv",
				"https://images7.alphacoders.com/596/596343.jpg",
				"https://cdn-image.foodandwine.com/sites/default/files/1548172944/la-placita-spread-FT-BLOG0119.jpg",
				"http://webapps.royalcaribbean.com/blog/wp-content/uploads/2015/06/jerk_chicken_jamaican_food_Royal_caribbean.jpg",
				"https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80",
				"https://images5.alphacoders.com/341/thumb-1920-341445.jpg",
		], {duration: 2500, fade: 750});
		</script>
	</body>
</html>
