<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>What's For Dinner!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">

    <h2>Survey Questions</h2>
    <hr>
    <h3><strong>Name</strong></h3>
    <input type="text" id="name">
    <h3><strong>Photo Url</strong></h3>
    <input type="text" id="photo">
    <h3><strong>Question 1</strong></h3>
    <h4>On a scale of 1-5, do you prefer something sweet or savory?</h4>
    <select class="chosen-select" id="q1">
      <option value=""></option>
      <option value="1">1 (SAVORY)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (SWEET)</option>
    </select>

    <h3><strong>Question 2</strong></h3>
    <h4>Given the choice, would you rather have something cheesy or something healthy?</h4>
    <select class="chosen-select" id="q2">
      <option value=""></option>
      <option value="1">1 (SAVORY)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (SWEET)</option>
    </select>

    <h3><strong>Question 3</strong></h3>
    <h4> You’re on a desert island and you can only bring one food, will it be italian food like pizza/pasta, or (1)
      pastries and baked goods like muffins and bagels?</h4>
    <select class="chosen-select" id="q3">
      <option value=""></option>
      <option value="1">1 (SAVORY)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (SWEET)</option>
    </select>

    <h3><strong>Question 4</strong></h3>
    <h4>You’re given unlimited access to one type of food, would it be infinite hotdogs/hamburgers or brownies/cookies?
    </h4>
    <select class="chosen-select" id="q4">
      <option value=""></option>
      <option value="1">1 (SAVORY)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (SWEET)</option>
    </select>

    <h3><strong>Question 5</strong></h3>
    <h4>Sunday dinner is coming-what’re you making? A beef wellington or zucchini pasta with fresh grilled vegies?</h4>
    <select class="chosen-select" id="q5">
      <option value=""></option>
      <option value="1">1 (SAVORY)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (SWEET)</option>
    </select>

    <h3><strong>Question 6</strong></h3>
    <h4>What do you want on your pasta meatballs,cherry tomatoes or grilled carrots? </h4>
    <select class="chosen-select" id="q6">
      <option value=""></option>
      <option value="1">1 (SAVORY)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (SWEET)</option>
    </select>

    <h3><strong>Question 7</strong></h3>
    <h4>If you felt like having a salty or sweet snack,which would you prefer? Do you go for popcorn or sour skittles?
    </h4>
    <select class="chosen-select" id="q7">
      <option value=""></option>
      <option value="1">1 (SAVORY)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (SWEET)</option>
    </select>

    <h3><strong>Question 8</strong></h3>
    <h4>On a scale of 1-5, do you prefer chicken salad with apples or baked apple pie?</h4>
    <select class="chosen-select" id="q8">
      <option value=""></option>
      <option value="1">1 (SAVORY)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (SWEET)</option>
    </select>

    <h3><strong>Question 9</strong></h3>
    <h4>You have to give up one food for the rest of your life, on a scale of 1-5 where 1 is savory food and 5 is sweet,
      desert type foods, which do you give up?</h4>
    <select class="chosen-select" id="q9">
      <option value=""></option>
      <option value="1">1 (SAVORY)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (SWEET)</option>
    </select>

    <h3><strong>Question 10</strong></h3>
    <h4>What is your preferred pizza topping, is it pepperoni or pineapple? </h4>
    <select class="chosen-select" id="q10">
      <option value=""></option>
      <option value="1">1 (SAVORY)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (SWEET)</option>
    </select>

    <br>
    <br>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle"
        aria-hidden="true"></i>
      Submit</button>

    <hr>
    <footer class="footer">
      <div class="container">
        <p><a href="/api/friends">API Food List</a> | <a
            href="https://github.com/JMillan13/Friend-Finder---Node-and-Express-Servers-Overview">GitHub
            Repo</a></p>

      </div>
    </footer>

  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
