
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto" id="main-content">
        <h1>{{msg}}</h1>
        <h2>What's For Dinner!</h2>
          <div>
            <h3>Here's a suggestion for you to cook.</h3>
            <h3>{{recipe.title}}</h3>

            {{{recipe.instructions}}}
          </div>


        </ul>
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-secondary mx-auto mt-4" id="back-button">Back</button>
    </div>
  </div>
</div>
