/* styles.css */
#main-content {
  background-color: white;
  background: rgba(255,255,255,0.5);

}

#question {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.questionwrapper {
  margin-bottom: 20px
}

#header {
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 70px;
  color: indigo;
}
